:root {
    --main-darkblue: #010812;
    --main-gray: #B2BEB5;
    --main-darkpurple: #1e0236;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    overflow-y: auto;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    height: 94.5%;
    width: 94.5%;
}

.grid-item {
    width: calc(100% / var(--wide));
    height: calc(100% / var(--long));
    border: 0.1rem solid var(--main-darkblue);
}

button {
    font-family: sans-serif;
    font-weight: 600;
    color: var(--main-darkpurple);
    font-size: 16px;
    padding: 6px 22px;
    margin-bottom: 1rem;
    border-radius: 8px;
    border: 2px solid var(--main-darkpurple);
    background-color: var(--main-gray);
}